<div class="col-4 p-0">
  <div class="header">
    <i class="fa-solid fa-upload"></i>
    Mensajes
  </div>
  <div class="list-group">
    <% plans.each do |plan| %>
      <div class="list-group-item">
        <%= link_to plan.name,
                    new_plan_message_path(plan),
                    class: "list-group-item-action",
                    data: { turbo_frame: :message_details, turbo_action: :advance } %>
        </div>
    <% end %>
  </div>
</div>
