<div class="container body mt-5">
  <div id="chat" class="row">
    <%= render 'messages/list', plans: @plans %>
    <div class="col-8 p-0">
      <%= turbo_frame_tag :message_details do %>
      <%= render 'messages/chanel', plan: @plan, new_message: Message.new %>
      <% end %>
    </div>
  </div>
</div>
