<div class="messages-grid">
  <%= render 'messages/list', plans: @plans %>
  <%= turbo_frame_tag :message_details do %>
    <div>
      <%= render 'messages/chanel', plan: @plan, new_message: Message.new %>
    </div>
  <% end %>
</div>
