.form-group {
  margin-bottom: 20px;
}

.form-control {
  border-radius: 12px;
  padding: 12px;
  background-color: white;
  font-size: 14px;
}

.form-label {
  font-weight: 600;
  font-size: 16px;
  abbr {
    text-decoration: none;
    font-size: 10px;
  }
}

.mapboxgl-ctrl-geocoder {
  width: 100% !important;
  box-shadow: none !important;
  border-radius: 20px !important;
  background-color: white !important;
  font-size: 14px !important;
  border: 1px solid #dfdfdf !important;
  max-width: none !important;;
}
