.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.navbar {
  background: white;
  &.transparent {
    background: transparent;
  }
  .logo {
    width: 160px;
  }
  &.scrolled {
    background-color: #0c0c0c9e !important;
  }
  .nav-link {
    color: white !important
  }
}
