.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.navbar {
  background: white;
  &.transparent {
    background: transparent;
  }
  .logo {
    width: 160px;
  }
  &.scrolled {
    background-color: #0c0c0c9e !important;
  }
  .nav-link {
    color: white !important
  }

  .notifications {
    display: flex;
    align-items: center;
    i {
      font-size: 24px;
      color: white;
    }
    .point {
      width: 14px;
      height: 14px;
      border-color: transparent !important;
      top: 7px;
      right: 18px;
      /* animation: pause-vibrate 2s ease-in-out infinite; */
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .menu-user {
    top: 122%;
  }

  .dropdown-menu {
    background: #212529;
    border-radius: 16px;
    color: white;
    box-shadow: 0px 0px 6px 1px #1a1a1a;
    .dropdown-item {
      cursor: pointer;
      color: white;
      &:hover {
        background-color: #343a40;
      }
    }

    &.dropdown-notifications {
      position: absolute;
      top: 50px;
      right: -180px;
      padding: 28px 32px;
      min-width: 400px;
      .header {
        margin-bottom: 10px;
      }
      .title {
        font-weight: 600;
        font-size: 20px;
      }
      .button_to:not(:last-child) {
        .dropdown-item {
          border-bottom: 1px solid #6a6a6a;
        }
      }
      .dropdown-item {
        padding: 16px 0;
        cursor: pointer;
        color: white;
        display: flex;
        align-items: center;
        border-radius: 4px;
        img {
          margin-right: 10px;
        }
        &:hover {
          background-color: #343a40;
        }
      }
    }
  }

}
