.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.navbar {
  background: white;
  &.transparent {
    background: transparent;
  }
  .logo {
    width: 160px;
  }
  &.scrolled {
    background-color: #0c0c0c9e !important;
  }
  .nav-link {
    color: white !important
  }

  .notifications {
    display: flex;
    align-items: center;
    i {
      font-size: 20px;
      color: white;
    }
    .point {
      width: 8px;
      height: 8px;
      border-color: transparent !important;
      top: 9px;
      right: 0;
      animation: pause-vibrate 2s ease-in-out infinite;
    }
  }
}
