.profile {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding: 8px 16px;

  img {
    border-radius: 50%;
    padding: auto;
    margin: 0 24px;
  }

  .user-info {
    flex-grow: 1;
    padding: 10px 24px;

    h1 {
      font-size: 2em;
      font-weight: lighter;
      margin-bottom: 0.5em;
    }

    p {
      font-size: 1em;
      line-height: 1.4;
      margin-bottom: 0;
      margin-top: 8px;
      color: black;
      opacity: 0.7;

      i {
        color: black;
      }

      &:hover, &:focus, &:active{
        color: black;
        opacity: 1;
      }
    }
  }
}
