// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";
@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");

// Your CSS partials
@import "components/index";
@import "pages/index";

a {
  text-decoration: none !important;
}
body {
  padding-top: 92px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  &.transparent {
    padding-top: 0;
  }
}
p{
  padding: 0;
  margin: 0;
}
